<?xml version="1.0"?>
<div style="position:absolute;right:20"><a href="javascript:void(0)" onclick="expandAll(true)">expand</a><a href="javascript:void(0)" onclick="expandAll(false)">collaps</a></div><script><!--
			function openFull(el){
				el.nextSibling.style.display!='block'?el.nextSibling.style.display='block':el.nextSibling.style.display='none'
			}
			function expandAll(fl){ 
				var elAr = document.getElementsByTagName("DIV");
				for(var i=2;i<elAr.length;i++){
					if(elAr[i].style.display!='block' || elAr[i].block_fl){
						elAr[i].block_fl = true;
						if(fl)
							elAr[i].style.display = "block";
						else
							elAr[i].style.display = "none";
					}
				}
			}
		--></script><style>
			.{font-family:arial;}
			h2 {cursor:pointer;font-size:16px;margin-left:10px;line-height:10px}
			h3 {cursor:pointer;font-weight:normal;color:gray;text-decoration:underline;line-height:10px}
			div.block {margin-left:30px;}
		</style><link rel="STYLESHEET" type="text/css" href="common/styles.css"/><h2 onclick="openFull(this)">dhtmlXTreeObject object API</h2><div class="block" style="display:show;"><div class="div_method" onclick="openFull(this)">assignKeys(keys)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure keys used for keyboard navigation</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_kn.js<li type="circle">keys - configuration array, please check pro_key_nav.html in samples for more details</li><span/></div><div class="div_method" onclick="openFull(this)">changeItemId(itemId,newItemId)<br/><strong class="div_strong_method">change item id</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - old node id</li><li type="circle">newItemId - new node id</li><span/></div><div class="div_method" onclick="openFull(this)">clearCut()<br/><strong class="div_strong_method">clear cut</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">clearSelection(itemId)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">unselect item in tree</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - used in multi selection tree (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">closeAllItems(itemId)<br/><strong class="div_strong_method">collapse target node and all sub nodes</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><span/></div><div class="div_method" onclick="openFull(this)">closeItem(itemId)<br/><strong class="div_strong_method">collapse node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">deleteChildItems(itemId)<br/><strong class="div_strong_method">delete all children of node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><span/></div><div class="div_method" onclick="openFull(this)">deleteItem(itemId,selectParent)<br/><strong class="div_strong_method">delete node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><li type="circle">selectParent - If true parent of deleted item get selection, else no selected items leaving in tree.</li><span/></div><div class="div_method" onclick="openFull(this)">destructor()<br/><strong class="div_strong_method">deletes tree and clears memory</strong><br/><span/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">disableCheckbox(itemId,mode)<br/><strong class="div_strong_method">disable checkbox</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - Id of tree item</li><li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">doCut()<br/><strong class="div_strong_method">mark selected item as cut</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">doPaste(itemId)<br/><strong class="div_strong_method">insert previously cut branch</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of new parent node</li><span/></div><div class="div_method" onclick="openFull(this)">editItem(id)<br/><strong class="div_strong_method">open editor for specified item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_ed.js<li type="circle">id - item ID</li><span/></div><div class="div_method" onclick="openFull(this)">enableActiveImages(mode)<br/><strong class="div_strong_method">enable active images (clickable and dragable). By default only text part of the node is active</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableAutoSavingSelected(mode,cookieName)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable/disable autosaving selected node in cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableAutoTooltips(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable auto tooltips (node text as tooltip)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableCheckBoxes(mode, hidden)<br/><strong class="div_strong_method">show/hide checkboxes (all checkboxes in tree)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><li type="circle">hidden - if set to true, checkboxes not rendered but can be shown by showItemCheckbox</li><span/></div><div class="div_method" onclick="openFull(this)">enableContextMenu(menu)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable context menu</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">menu - dhtmlXMenu object</li><span/></div><div class="div_method" onclick="openFull(this)">enableDistributedParsing(mode,count,delay)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable distributed parsing of big tree (items loaded portion by portion with some timeouts)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><li type="circle">count - critical count to start distibuting (optional)</li><li type="circle">delay - delay between distributed calls, ms (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">enableDragAndDrop(mode,rmode)<br/><strong class="div_strong_method">enable/disable drag-and-drop</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - enabled/disabled [ can be true/false/temporary_disabled - last value mean that tree can be D-n-D can be switched to true later ]</li><li type="circle">rmode - enabled/disabled drag and drop on super root</li><span/></div><div class="div_method" onclick="openFull(this)">enableDragAndDropScrolling(mode)<br/><strong class="div_strong_method">enable/disable auto scrolling while drag-and-drop</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - enabled/disabled</li><span/></div><div class="div_method" onclick="openFull(this)">enableHighlighting(mode)<br/><strong class="div_strong_method">enable item highlighting (item text highlited on mouseover)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableIEImageFix(mode)<br/><strong class="div_strong_method">replace IMG tag with background images - solve problem with IE image caching , not works for IE6 SP1</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false - enable/disable fix</li><span/></div><div class="div_method" onclick="openFull(this)">enableImageDrag(mode)<br/><strong class="div_strong_method">enable draging item image with item text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableItemEditor(mode)<br/><strong class="div_strong_method">enable editing of item text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_ed.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableKeySearch(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable search items by pressing keys (any item in tree should be focused/selected to make search work)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_kn.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableKeyboardNavigation(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable keyboard navigation in tree</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_kn.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableLoadingItem(text)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable/disable "Loading..." item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_lf.js<li type="circle">text - text of temporary item (default is "Loading...")</li><span/></div><div class="div_method" onclick="openFull(this)">enableMercyDrag(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable drag without removing (copy instead of move)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableMultiLineItems(width)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable multi line items</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">width - text width, if equls zero then use single lines items;</li><span/></div><div class="div_method" onclick="openFull(this)">enableMultiselection(mode,strict)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable multiselection</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><li type="circle">strict - 1 - on, 0 - off; in strict mode only items on the same level can be selected</li><span/></div><div class="div_method" onclick="openFull(this)">enableRTL(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enables Right-to-Left mode in tree</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_rl.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableRadioButtons(itemId,mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">replace checkboxes with radio buttons</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><li type="circle">itemId - node for which replacement called (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">enableSingleRadioMode(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">replace checkboxes with radio buttons</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><li type="circle">itemId - node for which replacement called (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">enableSmartCheckboxes(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable smart checkboxes ,true by default (auto checking children and parents for 3-state checkboxes)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableSmartRendering()
					[<span class="professional">professional</span>]
				<br/><strong class="div_strong_method">enables smart rendering mode (usefull for big trees with lots f items on each level)</strong><br/><span/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtree_srnd.js<span/></div><div class="div_method" onclick="openFull(this)">enableSmartXMLParsing(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">enable/disable smart XML parsing mode (usefull for big, well structured XML)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableTextSigns(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">replace images with text signs</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">enableThreeStateCheckboxes(mode)<br/><strong class="div_strong_method">enable three state checkboxes</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableTreeImages(mode)<br/><strong class="div_strong_method">enable tree images</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - 1 - on, 0 - off;</li><span/></div><div class="div_method" onclick="openFull(this)">enableTreeLines(mode)<br/><strong class="div_strong_method">enable/disable tree lines (parent-child threads)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - enable/disable tree lines</li><span/></div><div class="div_method" onclick="openFull(this)">findItem(searchStr,direction,top)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">find tree item by text, select and focus it</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">searchStr - search text</li><li type="circle">direction - 0: top -&gt; bottom; 1: bottom -&gt; top</li><li type="circle">top - 1: start searching from top</li><span/></div><div class="div_method" onclick="openFull(this)">findItemIdByLabel(searchStr,direction,top)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">find tree item by text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">searchStr - search text</li><li type="circle">direction - 0: top -&gt; bottom; 1: bottom -&gt; top</li><li type="circle">top - 1: start searching from top</li><span/></div><div class="div_method" onclick="openFull(this)">focusItem(itemId)<br/><strong class="div_strong_method">focus item in tree (scroll to it if necessary)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - item Id</li><span/></div><div class="div_method" onclick="openFull(this)">getAllChecked()<br/><strong class="div_strong_method">return list of identificators of nodes with checked checkboxes, separated by default delimiter</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getAllCheckedBranches()<br/><strong class="div_strong_method">return list of identificators of nodes with checked and third state checkboxes, separated by default delimiter</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getAllChildless()<br/><strong class="div_strong_method">Returns the list of all items which doesn't have child nodes.</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getAllItemsWithKids()<br/><strong class="div_strong_method">Returns the list of all items which have child nodes, separated by default delimiter.</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getAllPartiallyChecked()<br/><strong class="div_strong_method">return list of identificators of nodes with third state checkboxes, separated by default delimiter</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getAllSubItems(itemId)<br/><strong class="div_strong_method">Returns the list of all children from all next levels of tree, separated by default delimiter.</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getAllUnchecked(itemId)<br/><strong class="div_strong_method">return list of identificators of nodes with unchecked checkboxes, separated by default delimiter</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getChildItemIdByIndex(itemId,index)<br/><strong class="div_strong_method">retun child node id by index</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - parent node id</li><li type="circle">index - index of child node</li><span/></div><div class="div_method" onclick="openFull(this)">getDistributedParsingState()
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get current state of distributed parsing</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<br/><font class="exem">Returns:</font>true - still parsing; false - parsing finished<span/></div><div class="div_method" onclick="openFull(this)">getIndexById(itemId)<br/><strong class="div_strong_method">retun node index in children collection by Id</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><span/></div><div class="div_method" onclick="openFull(this)">getItemColor(itemId)<br/><strong class="div_strong_method">get node color (text color)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getItemIdByIndex(itemId,index)<br/><strong class="div_strong_method">retun node id by index</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - parent node id</li><li type="circle">index - index of node, 0 based</li><span/></div><div class="div_method" onclick="openFull(this)">getItemImage(itemId,imageInd,fullPath)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get url of item image</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of item</li><li type="circle">imageInd - index of image ( 0 - leaf, 1 - closed folder, 2 - opened folder)</li><li type="circle">value - value of top offset</li><span/></div><div class="div_method" onclick="openFull(this)">getItemParsingState(itemId)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get current parsing state of item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<br/><font class="exem">Returns:</font>1 - item already parsed; 0 - item not parsed yet; -1 - item in parsing process<span/></div><div class="div_method" onclick="openFull(this)">getItemText(itemId)<br/><strong class="div_strong_method">return node text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getItemTooltip(itemId)<br/><strong class="div_strong_method">get item's tooltip</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getLevel(itemId)<br/><strong class="div_strong_method">get node level (position in hierarchy)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getOpenState(itemId)<br/><strong class="div_strong_method">return open/close state</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><span/></div><div class="div_method" onclick="openFull(this)">getParentId(itemId)<br/><strong class="div_strong_method">return parent item id</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getSelectedItemId()<br/><strong class="div_strong_method">retun selected item id</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getSelectedItemText()<br/><strong class="div_strong_method">retun selected node text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">getSubItems(itemId)<br/><strong class="div_strong_method">Returns the list of all subitems Ids from the next level of tree, separated by commas.</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">getUserData(itemId,name)<br/><strong class="div_strong_method">get user data from target node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - target node id</li><li type="circle">name - key for user data</li><span/></div><div class="div_method" onclick="openFull(this)">getXMLState()
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">return current state of XML loading</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<span/></div><div class="div_method" onclick="openFull(this)">hasChildren(itemId)<br/><strong class="div_strong_method">return number of children</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">insertNewChild(parentId,itemId,itemText,itemActionHandler,image1,image2,image3,optionStr,children)<br/><strong class="div_strong_method">create new node as a child to specified with parentId</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">parentId - parent node id</li><li type="circle">itemId - new node id</li><li type="circle">itemText - new node label</li><li type="circle">itemActionHandler - function fired on node select event (optional)</li><li type="circle">image1 - image for node without children; (optional)</li><li type="circle">image2 - image for closed node; (optional)</li><li type="circle">image3 - image for opened node (optional)</li><li type="circle">optionStr - options string (optional)</li><li type="circle">children - node children flag (for dynamical trees) (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">insertNewNext(itemId,newItemId,itemText,itemActionHandler,image1,image2,image3,optionStr,children)<br/><strong class="div_strong_method">create new node next to specified</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><li type="circle">newItemId - new node id</li><li type="circle">itemText - new node text</li><li type="circle">itemActionHandler - function fired on node select event (optional)</li><li type="circle">image1 - image for node without children; (optional)</li><li type="circle">image2 - image for closed node; (optional)</li><li type="circle">image3 - image for opened node (optional)</li><li type="circle">optionStr - options string (optional)</li><li type="circle">children - node children flag (for dynamical trees) (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">isItemChecked(itemId)<br/><strong class="div_strong_method">get state of nodes's checkbox</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - target node id</li><span/></div><div class="div_method" onclick="openFull(this)">isLocked(itemId)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get locked state of item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_li.js<li type="circle">itemId - id of item</li><br/><font class="exem">Returns:</font>true/false  - locked/unlocked<span/></div><div class="div_method" onclick="openFull(this)">loadCSV(file,afterCall)<br/><strong class="div_strong_method">load tree from csv file|stream</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">file - link to CSV file</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadCSVString(csv,afterCall)<br/><strong class="div_strong_method">load tree from csv string</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">csv - csv string</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadJSArray(ar,afterCall)<br/><strong class="div_strong_method">load tree from js array object</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">ar - js array</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadJSArrayFile(file,afterCall)<br/><strong class="div_strong_method">load tree from js array file|stream</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">file - link to JSArray file</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadJSON(file,afterCall)<br/><strong class="div_strong_method">load tree from json file</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">file - link to JSON file</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadJSONObject(json,afterCall)<br/><strong class="div_strong_method">load tree from json object</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<li type="circle">json - json object</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadOpenStates(name)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">restore open nodes from cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional,cookie name</li><span/></div><div class="div_method" onclick="openFull(this)">loadState(name)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">load tree from cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional,cookie name</li><span/></div><div class="div_method" onclick="openFull(this)">loadXML(file,afterCall)<br/><strong class="div_strong_method">load tree from xml file</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">file - link to XML file</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">loadXMLString(xmlString,afterCall)<br/><strong class="div_strong_method">load tree from xml string</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">xmlString - XML string</li><li type="circle">afterCall - function which will be called after xml loading</li><span/></div><div class="div_method" onclick="openFull(this)">lockItem(itemId,state)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">lock/unlock item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_li.js<li type="circle">itemId - id of item</li><li type="circle">state - true/false  - lock/unlock item</li><span/></div><div class="div_method" onclick="openFull(this)">lockTree(isLock)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">lock tree</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_li.js<li type="circle">isLock - bool value. True - lock, false - unlock</li><span/></div><div class="div_method" onclick="openFull(this)">makeAllDraggable(func)<br/><strong class="div_strong_method">adds drag-n-drop capabilities (with possibility to drop into dhtmlxTree) to all HTML items with dragInDhtmlXTree attribute</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_dragin.js<li type="circle">func - custom drag processor function, optional</li><span/></div><div class="div_method" onclick="openFull(this)">makeDraggable(obj,func)<br/><strong class="div_strong_method">adds drag-n-drop capabilities (with possibility to drop into dhtmlxTree) to HTML object.</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_dragin.js<li type="circle">obj - HTML object, or HTML object ID</li><li type="circle">func - custom drag processor function, optional</li><span/></div><div class="div_method" onclick="openFull(this)">moveItem(itemId,mode,targetId,targetTree)<br/><strong class="div_strong_method">move item (inside of tree)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - item Id</li><li type="circle">mode - moving mode (left,up,down,item_child,item_sibling,item_sibling_next,up_strict,down_strict)</li><li type="circle">targetId - target Node in item_child and item_sibling mode</li><li type="circle">targetTree - used for moving between trees (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">openAllItems(itemId)<br/><strong class="div_strong_method">expand target node and all sub nodes</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><span/></div><div class="div_method" onclick="openFull(this)">openAllItemsDynamic(itemId)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">expand target node and all child nodes (same as openAllItems, but works in dynamic trees)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">itemId - node id, optional</li><span/></div><div class="div_method" onclick="openFull(this)">openItem(itemId)<br/><strong class="div_strong_method">expand node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><span/></div><div class="div_method" onclick="openFull(this)">openItemsDynamic(list,flag)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">expand list of nodes in dynamic tree (wait of loading of node before expanding next)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">list - list of nodes which will be expanded</li><li type="circle">flag - true/false - select last node in the list</li><span/></div><div class="div_method" onclick="openFull(this)">openOnItemAdded(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure if parent node will be expanded immideatly after child item added</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - true/false</li><span/></div><div class="div_method" onclick="openFull(this)">preventIECaching(mode)<br/><strong class="div_strong_method">prevent caching in IE  by adding random value to URL string</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - enable/disable random value ( disabled by default )</li><span/></div><div class="div_method" onclick="openFull(this)">refreshItem(itemId)<br/><strong class="div_strong_method">refresh tree branch from xml (XML with child nodes rerequested from server)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node, if not defined tree super root used.</li><span/></div><div class="div_method" onclick="openFull(this)">refreshItems(itemIdList,source)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">refresh specified tree nodes (get XML from server and updat only nodes included in itemIdList)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemIdList - list of node identificators</li><li type="circle">source - server side script</li><span/></div><div class="div_method" onclick="openFull(this)">registerXMLEntity(rChar,rEntity)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">register XML entity for replacement while initialization (default are: ampersand, lessthen and greaterthen symbols)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">rChar - source char</li><li type="circle">rEntity - target entity</li><span/></div><div class="div_method" onclick="openFull(this)">restoreSelectedItem(name)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">restore selected item from cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional, cookie name</li><span/></div><div class="div_method" onclick="openFull(this)">saveOpenStates(name,cookie_param)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">save open nodes to cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional,cookie name</li><li type="circle">cookie_param - additional parametrs added to cookie</li><span/></div><div class="div_method" onclick="openFull(this)">saveSelectedItem(name,cookie_param)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">save selected item to cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional, cookie name</li><li type="circle">cookie_param - additional parametrs added to cookie</li><span/></div><div class="div_method" onclick="openFull(this)">saveState(name,cookie_param)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">save tree to cookie</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">name - optional, cookie name</li><li type="circle">cookie_param - additional parametrs added to cookie</li><span/></div><div class="div_method" onclick="openFull(this)">selectItem(itemId,mode,preserve)<br/><strong class="div_strong_method">select node ( and optionaly fire onselect event)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><li type="circle">mode - If true, script function for selected node will be called.</li><li type="circle">preserve - preserve earlier selected nodes</li><span/></div><div class="div_method" onclick="openFull(this)">serializeTree()
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">get xml representation (as string) of tree</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<span/></div><div class="div_method" onclick="openFull(this)">serializeTreeToJSON()<br/><strong class="div_strong_method">return tree as json string</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_json.js<span/></div><div class="div_method" onclick="openFull(this)">setCheck(itemId,state)<br/><strong class="div_strong_method">set state of node's checkbox</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - target node id</li><li type="circle">state - checkbox state (0/1/"unsure")</li><span/></div><div class="div_method" onclick="openFull(this)">setChildCalcHTML( htmlA,htmlB )
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set children calculation prefix and postfix</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">htmlA - postfix ([ - by default)</li><li type="circle">htmlB - postfix (] - by default)</li><span/></div><div class="div_method" onclick="openFull(this)">setChildCalcMode( mode )
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set children calculation mode</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - mode name as string . Possible values: child - children, no recursive; leafs - children without subchildren, no recursive;  ,childrec - children, recursive; leafsrec - children without subchildren, recursive; disabled (disabled by default)</li><span/></div><div class="div_method" onclick="openFull(this)">setCustomSortFunction(func)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set custom sort functions, which has two parametrs - id_of_item1,id_of_item2</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_sb.js<li type="circle">func - sorting function</li><span/></div><div class="div_method" onclick="openFull(this)">setDataMode(mode)<br/><strong class="div_strong_method">set default data transfer mode</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - data mode (json,xml,csv)</li><span/></div><div class="div_method" onclick="openFull(this)">setDragBehavior(mode,select)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set Drag-And-Drop behavior (child - drop as chils, sibling - drop as sibling, complex - complex drop behaviour )</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - behavior name (child,sibling,complex)</li><li type="circle">select - select droped node after drag-n-drop, true by default</li><span/></div><div class="div_method" onclick="openFull(this)">setEditStartAction(click_IE, dblclick)<br/><strong class="div_strong_method">define which events must start editing</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_ed.js<li type="circle">click_IE - click on already selected item - true/false [true by default]</li><li type="circle">dblclick - on double click</li><span/></div><div class="div_method" onclick="openFull(this)">setEscapingMode(mode)<br/><strong class="div_strong_method">set escaping mode (used for escaping ID in requests)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - escaping mode ("utf8" for UTF escaping)</li><span/></div><div class="div_method" onclick="openFull(this)">setIconPath(path)<br/><strong class="div_strong_method">set path to external images used as tree icons</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font> Handlers; 
			<br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">path - url (or relative path) of images folder with closing "/"</li><span/></div><div class="div_method" onclick="openFull(this)">setIconSize(newWidth,newHeight,itemId)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set size of icons</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">newWidth - new icon width</li><li type="circle">newHeight - new icon height</li><li type="circle">itemId - item Id, if skipped set default value for all new icons, optional</li><span/></div><div class="div_method" onclick="openFull(this)">setImageArrays(arrayName,image1,image2,image3,image4,image5)<br/><strong class="div_strong_method">set images used for parent-child threads drawing (lines, plus, minus)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">arrayName - name of array: plus, minus</li><li type="circle">image1 - line crossed image</li><li type="circle">image2 - image with top line</li><li type="circle">image3 - image with bottom line</li><li type="circle">image4 - image without line</li><li type="circle">image5 - single root image</li><span/></div><div class="div_method" onclick="openFull(this)">setImagePath( newPath )<br/><strong class="div_strong_method">set path to images directory</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">newPath - path to images directory (related to the page with tree or absolute http url)</li><span/></div><div class="div_method" onclick="openFull(this)">setItemCloseable(itemId,flag)<br/><strong class="div_strong_method">prevent node from closing</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><li type="circle">flag -  if 0 - node can't be closed, else node can be closed</li><span/></div><div class="div_method" onclick="openFull(this)">setItemColor(itemId,defaultColor,selectedColor)<br/><strong class="div_strong_method">set node text color</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><li type="circle">defaultColor - node color</li><li type="circle">selectedColor - selected node color</li><span/></div><div class="div_method" onclick="openFull(this)">setItemContextMenu(itemId,cMenu)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set context menu to individual nodes</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><li type="circle">cMenu - context menu object</li><span/></div><div class="div_method" onclick="openFull(this)">setItemImage(itemId,image1,image2)<br/><strong class="div_strong_method">set item icons (mostly usefull for childless nodes)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><li type="circle">image1 - node without children icon or closed node icon (if image2 specified)</li><li type="circle">image2 - open node icon (optional)</li><span/></div><div class="div_method" onclick="openFull(this)">setItemImage2(itemId, image1,image2,image3)<br/><strong class="div_strong_method">set item images</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><li type="circle">image1 - node without children icon</li><li type="circle">image2 - closed node icon</li><li type="circle">image3 - open node icon</li><span/></div><div class="div_method" onclick="openFull(this)">setItemStyle(itemId,style_string)<br/><strong class="div_strong_method">set individual item style</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - node id</li><li type="circle">style_string - valid CSS string</li><span/></div><div class="div_method" onclick="openFull(this)">setItemText(itemId,newLabel,newTooltip)<br/><strong class="div_strong_method">set new node text (HTML allowed)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of node</li><li type="circle">newLabel - node text</li><li type="circle">newTooltip - (optional)tooltip for the node</li><span/></div><div class="div_method" onclick="openFull(this)">setItemTopOffset(itemId,value)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set top offset for item</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of item</li><li type="circle">value - value of top offset in px</li><span/></div><div class="div_method" onclick="openFull(this)">setListDelimeter(separator)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set list separator ("," by default)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">separator - char or string to use for separating items in lists</li><span/></div><div class="div_method" onclick="openFull(this)">setLockedIcons(im0,im1,im2)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">set icon for locked items</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_li.js<li type="circle">im0 - icon for locked leaf</li><li type="circle">im1 - icon for closed branch</li><li type="circle">im2 - icon for opened branch</li><span/></div><div class="div_method" onclick="openFull(this)">setOnDblClickHandler(func)
					[<span class="depricated">Depricated</span>]
				<br/><strong class="div_strong_method">set function called when tree node double clicked</strong><br/><span/></div><div class="div_drop"><div><span style="font-size:20px; color:red;">Depricated!</span> - use grid.attachEvent("onDblClick",func); instead</div><br/><fieldset><legend>Event</legend><font class="exem">Name:</font>onDblClick<br/>Event raised immideatly after item in tree was doubleclicked, before default onDblClick functionality was processed.<li type="square">ID of item which was doubleclicked</li><br/><font class="exem">Event returns:</font>true - confirm opening/closing; false - deny opening/closing;</fieldset><font class="exem">Topic(s): </font> Handlers; 
			<br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">func - event handling function</li><span/></div><div class="div_method" onclick="openFull(this)">setSerializationLevel(userData,fullXML,escapeEntities,userDataAsCData,DTD)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">configure XML serialization</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_xw.js<li type="circle">userData - enable/disable user data serialization</li><li type="circle">fullXML - enable/disable full XML serialization</li><li type="circle">escapeEntities - convert tag brackets to related html entitites</li><li type="circle">userDataAsCData - output user data in CDATA sections</li><li type="circle">DTD - if specified, then set as XML's DTD</li><span/></div><div class="div_method" onclick="openFull(this)">setStdImages(image1,image2,image3)<br/><strong class="div_strong_method">set default images for nodes (must be called before XML loading)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">a0 - image for node without children;</li><li type="circle">a1 - image for closed node;</li><li type="circle">a2 - image for opened node</li><span/></div><div class="div_method" onclick="openFull(this)">setSubChecked(itemId,state)<br/><strong class="div_strong_method">change state of node's checkbox and all children checkboxes</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - target node id</li><li type="circle">state - checkbox state</li><span/></div><div class="div_method" onclick="openFull(this)">setUserData(itemId,name,value)<br/><strong class="div_strong_method">set user data for target node</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - target node id</li><li type="circle">name - key for user data</li><li type="circle">value - user data value</li><span/></div><div class="div_method" onclick="openFull(this)">setXMLAutoLoading(filePath)<br/><strong class="div_strong_method">enables dynamic loading from XML</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">filePath - name of script returning XML; in case of virtual loading - user defined function</li><span/></div><div class="div_method" onclick="openFull(this)">setXMLAutoLoadingBehaviour(mode)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">define which script be called on dynamic loading</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">mode - id for some_script?id=item_id ;  name for  some_scriptitem_id, xmlname for  some_scriptitem_id.xml ; function for calling user defined handler</li><span/></div><div class="div_method" onclick="openFull(this)">showItemCheckbox(itemId,state)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">show/hide checkbox for tree item (works only for individual items, not for entire tree )</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of selected item, optional, set null to change states of all items</li><li type="circle">state - checkbox show state : 0/1</li><span/></div><div class="div_method" onclick="openFull(this)">showItemSign(itemId,state)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">show/hide (+/-) icon (works only for individual items, not for entire tree )</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - id of selected item</li><li type="circle">state - show state : 0/1</li><span/></div><div class="div_method" onclick="openFull(this)">smartRefreshBranch(itemId,source)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">refresh specified tree branch (get XML from server, add new nodes, remove not used nodes)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId -  top node in branch</li><li type="circle">source - server side script , optional</li><span/></div><div class="div_method" onclick="openFull(this)">smartRefreshItem(itemId,source)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">refresh specified tree item (get XML from server, add new nodes, remove not used nodes)</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId -  top node in branch</li><li type="circle">source - server side script , optional</li><span/></div><div class="div_method" onclick="openFull(this)">sortTree(nodeId,order,all_levels)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">reorder items in tree according to their text</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_sb.js<li type="circle">nodeId - id of node to start sorting from</li><li type="circle">all_levels - sorting all levels or only current level</li><li type="circle">order - sorting order - ASC or DES</li><span/></div><div class="div_method" onclick="openFull(this)">stopEdit()<br/><strong class="div_strong_method">switch currently edited item back to normal view</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree_ed.js<span/></div><div class="div_method" onclick="openFull(this)">updateItem(itemId,name,im0,im1,im2,achecked)
					[<span class="professional">Professional</span>]
				<br/><strong class="div_strong_method">update item properties</strong><br/><span/></div><div class="div_drop"><font class="exem">Topic(s): </font><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">itemId - list of node identificators</li><li type="circle">name - list of node identificators, optional</li><li type="circle">im0 - list of node identificators, optional</li><li type="circle">im1 - list of node identificators, optional</li><li type="circle">im2 - list of node identificators, optional</li><li type="circle">achecked - list of node identificators, optional</li><span/></div><span/></div>
