<?xml version="1.0"?>
<div style="position:absolute;right:20"><a href="javascript:void(0)" onclick="expandAll(true)">expand</a><a href="javascript:void(0)" onclick="expandAll(false)">collaps</a></div><script><!--
			function openFull(el){
				el.nextSibling.style.display!='block'?el.nextSibling.style.display='block':el.nextSibling.style.display='none'
			}
			function expandAll(fl){ 
				var elAr = document.getElementsByTagName("DIV");
				for(var i=2;i<elAr.length;i++){
					if(elAr[i].style.display!='block' || elAr[i].block_fl){
						elAr[i].block_fl = true;
						if(fl)
							elAr[i].style.display = "block";
						else
							elAr[i].style.display = "none";
					}
				}
			}
		--></script><style>
			.{font-family:arial;}
			h2 {cursor:pointer;font-size:16px;margin-left:10px;line-height:10px}
			h3 {cursor:pointer;font-weight:normal;color:gray;text-decoration:underline;line-height:10px}
			div.block {margin-left:30px;}
		</style><link rel="STYLESHEET" type="text/css" href="common/styles.css"/><h2 onclick="openFull(this)">dhtmlXTreeObject object API</h2><div class="block" style="display:show;"><h3 onclick=" openFull(this)"> Handlers</h3><div class="block" style="display:none;"><div class="div_method" onclick="openFull(this)">setIconPath(path)<br/><strong class="div_strong_method">set path to external images used as tree icons</strong><br/></div><div class="div_drop"><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">path - url (or relative path) of images folder with closing "/"</li> </div><div class="div_method" onclick="openFull(this)">setOnDblClickHandler(func)
					[<span class="depricated">Depricated</span>]
				<br/><strong class="div_strong_method">set function called when tree node double clicked</strong><br/></div><div class="div_drop"><div><span class="depricated">Depricated!</span> - use grid.attachEvent("onDblClick",func); instead</div><br/><fieldset><legend>Event</legend><font class="exem">Name:</font>onDblClick<br/>Event raised immideatly after item in tree was doubleclicked, before default onDblClick functionality was processed.<li type="square">ID of item which was doubleclicked</li><br/><font class="exem">Event returns:</font>true - confirm opening/closing; false - deny opening/closing;</fieldset><br/><font class="exem">File required:</font>dhtmlxtree.js<li type="circle">func - event handling function</li> </div></div></div>
