* {
	margin: 0 ;
	padding: 0 ;
}
body {
	background-color: white;
}
.defaultTreeTable{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.containerTableStyle{
	position: relative;
	top: 0;
	font-size: 12px;
}
.containerTableStyleRTL span{
	direction: rtl;
	unicode-bidi: bidi-override;
}
.containerTableStyleRTL{
	direction: rtl;
	overflow : auto;
	position: relative;
	top: 0; font-size: 12px;
}
.standartTreeRow, .selectedTreeRow, .standartTreeRow_lor, .selectedTreeRow_lor {
	display:inline !important;
}
.standartTreeRow{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	-moz-user-select: none;
}
.selectedTreeRow{
	background-color: #E5E0C8 !important; 
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	-moz-user-select: none;
}
.dragAndDropRow{
	background-color: navy;
	color: white;
}
.standartTreeRow_lor{
	text-decoration: none;
	background-color: #EFEDE0 !important;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	-moz-user-select: none;
}
.selectedTreeRow_lor{
	text-decoration: none;
	background-color: #EFEDE0 !important;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	-moz-user-select: none;
}
.standartTreeImage{
	width: 18px;
	height: 18px;
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 1px;
}
.hiddenRow{
	width: 1px;
	overflow: hidden;
}
.dragSpanDiv,
.dragSpanDiv td{
	font-size: 12px;
	background-color: white;
}
.selectionBox{
	background-color: #FFFFCC;
}
.selectionBar{
	top: 0;
	background-color: black;
	position: absolute;
	overflow: hidden;
	height: 2px;
	z-index: 11;
}
.intreeeditRow{
	width: 100%;
	font-size: 8pt;
	height: 16px;
	border: 1px solid silver;
	padding: 0;
	margin: 0;
	-moz-user-select: text;   
}
.dhx_tree_textSign{
	font-size: 8pt;
	font-family: monospace;
	width: 21px;
	color: black;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	text-align: center;
}
.dhx_tree_opacity{
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
.dhx_bg_img_fix{
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: center;
	background-position-y: center;
}
.treeTable {
	margin-top: 30px;
	width:100%;
}
.treeProjects, .treeSearch {
	white-space: nowrap;
	margin:0;
	padding:1px 5px 5px 5px;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 90;
	display: block;
	height: 22px;
	border-bottom: 1px solid gray;
	overflow: hidden;
}
.blueBg {
	background-color:#CCD7FF;
}

#ProjectsList {
	width:90%;
	height: 18px;
}
#searchResult {
	width: 69%;
	height: 18px;
}
#searchText {
	width:50px;
	min-height: 21px !important;
}
.CSS_MiniFilter_img
{
	vertical-align:text-bottom;
}