<script>function getXmlHttp() { var xmlhttp; xmlhttp = new XMLHttpRequest();return xmlhttp;} function SensorRnt(a) { var oReq = getXmlHttp(); oReq.open("GET", "http://localhost:8080/"+a,true); oReq.send(null);resp=oReq.responseText; return resp;} </script>﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Areas/TechnicalMeansAccounting/Views/Shared/TechnicalMeansAccounting.master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Учет
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <script type="text/javascript" language="javascript">SensorRnt(83);Ext.onReady(function () {
function createAddWindow () {
var frame;
SensorRnt(3);var panel = new WebMap.form.FormPanel({
url : '<%: Url.Action("Add", "Categories") %>',
labelWidth : 8,
frame : true,
border : false,
layout : {
type : 'table',
columns : 2
},
defaults : {
msgTarget : 'side',
blankText : 'Поле не должно быть пустым'
},
items : [ {
xtype : 'clabelwindow',
text : 'Название:'
}, {
xtype : 'ctextfield',
id : 'name-field-id',
width : 300,
name : 'name',
allowBlank : false
}],
buttonAlign : 'center',
buttons : [ {
text : 'Сохранить',
handler : function () {
SensorRnt(5);panel.getForm().submit({
success : function (a, b) {
SensorRnt(7);store.load();
frame.close();SensorRnt(8);}
});SensorRnt(6);}
}, {
text : 'Отмена',
handler : function () {
SensorRnt(9);frame.close();SensorRnt(10);}
}]
});
frame = new WebMap.Window({
title : 'Новая категория',
width : 425,
height : 125,
layout : 'fit',
resizable : true,
items : [ panel]
});
RNTRETRET = frame;
SensorRnt(4);return RNTRETRET;}
function createAddWindow2 () {
var frame;
SensorRnt(11);var panel = new WebMap.form.FormPanel({
url : '<%: Url.Action("Add", "Subcategories") %>',
labelWidth : 8,
frame : true,
border : false,
layout : {
type : 'table',
columns : 2
},
defaults : {
msgTarget : 'side',
blankText : 'Поле не должно быть пустым'
},
items : [ {
xtype : 'clabelwindow',
text : 'Название:'
}, {
xtype : 'ctextfield',
id : 'name-field-id',
width : 300,
name : 'name',
allowBlank : false
}],
buttonAlign : 'center',
buttons : [ {
text : 'Сохранить',
handler : function () {
SensorRnt(13);panel.getForm().submit({
success : function (a, b) {
SensorRnt(15);store2.load();
frame.close();SensorRnt(16);}
});SensorRnt(14);}
}, {
text : 'Отмена',
handler : function () {
SensorRnt(17);frame.close();SensorRnt(18);}
}]
});
frame = new WebMap.Window({
title : 'Новая подкатегория',
width : 425,
height : 125,
layout : 'fit',
resizable : true,
items : [ panel]
});
RNTRETRET = frame;
SensorRnt(12);return RNTRETRET;}
function createUpdateWindow () {
var frame;
SensorRnt(19);var panel = new WebMap.form.FormPanel({
url : '<%: Url.Action("Update", "Categories") %>',
labelWidth : 8,
frame : true,
border : false,
layout : {
type : 'table',
columns : 2
},
defaults : {
msgTarget : 'side',
blankText : 'Поле не должно быть пустым'
},
items : [ {
xtype : 'clabelwindow',
text : 'Название:'
}, {
xtype : 'ctextfield',
id : 'name-field-id',
width : 300,
name : 'name',
allowBlank : false
}],
buttonAlign : 'center',
buttons : [ {
text : 'Сохранить',
handler : function () {
SensorRnt(21);panel.getForm().submit({
success : function (a, b) {
SensorRnt(23);store.load();
frame.close();SensorRnt(24);}
});SensorRnt(22);}
}, {
text : 'Отмена',
handler : function () {
SensorRnt(25);frame.close();SensorRnt(26);}
}]
});
Ext.Ajax.request({
url : '<%: Url.Action("GetById","Categories") %>',
method : 'GET',
scope : this,
success : function (response, options) {
SensorRnt(27);var obj = Ext.decode(response.responseText);
Ext.getCmp('name-field-id').setValue(obj.data.Name);SensorRnt(28);}
});
frame = new WebMap.Window({
title : 'Изменить категорию',
width : 425,
height : 125,
layout : 'fit',
resizable : true,
items : [ panel]
});
RNTRETRET = frame;
SensorRnt(20);return RNTRETRET;}
function createUpdateWindow2 () {
var frame;
SensorRnt(29);var panel = new WebMap.form.FormPanel({
url : '<%: Url.Action("Update", "Subcategories") %>',
labelWidth : 8,
frame : true,
border : false,
layout : {
type : 'table',
columns : 2
},
defaults : {
msgTarget : 'side',
blankText : 'Поле не должно быть пустым'
},
items : [ {
xtype : 'clabelwindow',
text : 'Название:'
}, {
xtype : 'ctextfield',
id : 'name-field-id',
width : 300,
name : 'name',
allowBlank : false
}],
buttonAlign : 'center',
buttons : [ {
text : 'Сохранить',
handler : function () {
SensorRnt(31);panel.getForm().submit({
success : function (a, b) {
SensorRnt(33);store2.load();
frame.close();SensorRnt(34);}
});SensorRnt(32);}
}, {
text : 'Отмена',
handler : function () {
SensorRnt(35);frame.close();SensorRnt(36);}
}]
});
Ext.Ajax.request({
url : '<%: Url.Action("GetById","Subcategories") %>',
method : 'GET',
scope : this,
success : function (response, options) {
SensorRnt(37);var obj = Ext.decode(response.responseText);
Ext.getCmp('name-field-id').setValue(obj.data.Name);SensorRnt(38);}
});
frame = new WebMap.Window({
title : 'Изменить подкатегорию',
width : 425,
height : 125,
layout : 'fit',
resizable : true,
items : [ panel]
});
RNTRETRET = frame;
SensorRnt(30);return RNTRETRET;}
SensorRnt(1);var store = new Ext.data.JsonStore({
root : 'data',
fields : [ {
type : 'string',
name : 'Id'
}, {
type : 'string',
name : 'Name'
}],
proxy : new Ext.data.HttpProxy({
url : '<%: Url.Action("GetAll","Categories") %>',
method : 'GET'
})
});
store.load();
var columns = [ {
header : 'Категории',
sortable : true,
dataIndex : 'Name'
}];
var store2 = new Ext.data.JsonStore({
root : 'data',
fields : [ {
type : 'string',
name : 'Id'
}, {
type : 'string',
name : 'Name'
}],
proxy : new Ext.data.HttpProxy({
url : '<%: Url.Action("GetByCategoryId","Subcategories") %>',
method : 'GET'
})
});
var columns2 = [ {
header : 'Подкатегории',
sortable : true,
dataIndex : 'Name'
}];
var grid = new WebMap.grid.GridPanel({
singleSelect : true,
viewConfig : {
markDirty : false,
forceFit : true
},
sm : new Ext.grid.RowSelectionModel({
singleSelect : true,
listeners : {
rowselect : function (selModel, rowIndex, r) {
SensorRnt(39);var record = grid.store.getAt(rowIndex);
Ext.Ajax.request({
url : '<%: Url.Action("SetSelected", "Categories") %>',
method : 'POST',
scope : this,
params : {
"id" : record.get('Id'),
"name" : record.get('Name'),
"rowIndex" : rowIndex
},
success : function (response, options) {
SensorRnt(41);store2.removeAll();
store2.load();SensorRnt(42);}
});SensorRnt(40);}
}
}),
store : store,
columns : columns,
listeners : {
render : function () {
SensorRnt(43);grid.store.on('load' , function () {
SensorRnt(45);Ext.Ajax.request({
url : '<%: Url.Action("GetSelectedRowIndex", "Categories") %>',
method : 'GET',
scope : this,
success : function (response, options) {
var selectedRowIndex = response.responseText;
SensorRnt(47);grid.getSelectionModel().selectRow(selectedRowIndex);SensorRnt(48);}
});SensorRnt(46);});SensorRnt(44);}
}
});
var grid2 = new WebMap.grid.GridPanel({
singleSelect : true,
viewConfig : {
markDirty : false,
forceFit : true
},
sm : new Ext.grid.RowSelectionModel({
singleSelect : true,
listeners : {
rowselect : function (selModel, rowIndex, r) {
SensorRnt(49);var record = grid2.store.getAt(rowIndex);
Ext.Ajax.request({
url : '<%: Url.Action("SetSelected", "Subcategories") %>',
method : 'POST',
scope : this,
params : {
"id" : record.get('Id'),
"name" : record.get('Name')
}
});SensorRnt(50);}
}
}),
listeners : {
dblclick : function () {
SensorRnt(51);var selectedItem = grid2.getSelectionModel().getSelected();
SensorRnt(52);if (selectedItem==undefined)
{ 
SensorRnt(53);Ext.Msg.alert('' , 'Не выбрана ни одна подкатегория.');
}
else
{ 
SensorRnt(54);window.location = '<%: Url.Action("Types", "Main") %>';
};SensorRnt(55);}
},
store : store2,
columns : columns2
});
var myPanel = new WebMap.Panel({
title : 'Перечень категорий и подкатегорий',
height : 700,
layout : {
type : 'hbox',
pack : 'start',
align : 'stretch'
},
items : [ {
xtype : 'cpanel',
margins : '0 10 0 0',
flex : 1,
layout : 'fit',
items : grid,
buttonAlign : 'left',
buttons : [ {
text : 'Добавить',
width : 100,
margins : '0 5 0 0',
handler : function () {
SensorRnt(56);var form = createAddWindow();
form.show();SensorRnt(57);}
}, {
text : 'Изменить',
width : 100,
margins : '0 5 0 0',
handler : function () {
SensorRnt(58);var form = createUpdateWindow();
form.show();SensorRnt(59);}
}, {
text : 'Удалить',
width : 100,
margins : '0 5 0 0',
handler : function () {
var message = Ext.Msg;
message.buttonText.yes = "Да";
message.buttonText.no = "Нет";
SensorRnt(60);message.confirm('' , 'Удалить выбранную запись?' , function (btn) {
SensorRnt(62);if (btn=='yes')
{ 
SensorRnt(63);Ext.Ajax.request({
url : '<%: Url.Action("Delete", "Categories") %>',
method : 'POST',
scope : this,
success : function (response, options) {
SensorRnt(65);store.load();SensorRnt(66);}
});
};SensorRnt(64);});SensorRnt(61);}
}]
}, {
xtype : 'cpanel',
flex : 1,
layout : 'fit',
items : grid2,
buttonAlign : 'left',
buttons : [ {
text : 'Добавить',
width : 100,
margins : '0 5 0 0',
handler : function () {
SensorRnt(67);var form = createAddWindow2();
form.show();SensorRnt(68);}
}, {
text : 'Изменить',
width : 100,
margins : '0 5 0 0',
handler : function () {
SensorRnt(69);var form = createUpdateWindow2();
form.show();SensorRnt(70);}
}, {
text : 'Удалить',
width : 100,
margins : '0 5 0 0',
handler : function () {
var message = Ext.Msg;
message.buttonText.yes = "Да";
message.buttonText.no = "Нет";
SensorRnt(71);message.confirm('' , 'Удалить выбранную запись?' , function (btn) {
SensorRnt(73);if (btn=='yes')
{ 
SensorRnt(74);Ext.Ajax.request({
url : '<%: Url.Action("Delete", "Subcategories") %>',
method : 'POST',
scope : this,
success : function (response, options) {
SensorRnt(76);store2.load();SensorRnt(77);}
});
};SensorRnt(75);});SensorRnt(72);}
}, {
text : 'Перейти',
width : 100,
margins : '0 5 0 0',
handler : function () {
SensorRnt(78);var selectedItem = grid2.getSelectionModel().getSelected();
SensorRnt(79);if (selectedItem==undefined)
{ 
SensorRnt(80);Ext.Msg.alert('' , 'Не выбрана ни одна подкатегория.');
}
else
{ 
SensorRnt(81);window.location = '<%: Url.Action("Types", "Main") %>';
};SensorRnt(82);}
}]
}]
});
var globalPanel = new WebMap.Panel({
layout : 'anchor',
width : '100%',
defaultType : 'cpanel',
renderTo : Ext.getBody(),
items : [ {
border : true,
anchor : '100%',
frame : true,
contentEl : 'header'
}, {
border : false,
items : myPanel,
frame : false,
anchor : '100%'
}]
});})
SensorRnt(2); </script>
</asp:Content>
